.border-bottom {
    border-bottom: 1px solid #ddd;
}

.arabic-lan {
    direction: rtl;
    color: #fff;
    padding: 6px;
}

.bg-dark {
    background-color: rgb(10, 10, 10) !important;
}

.nav-link {
    color: #fff !important;
}

.bg-gray {
    background-color: rgb(30, 30, 30);
}