.img{
    width: 298px;
    height: 298px;
    border: none;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    background-color: rgb(19, 19, 19) !important;
    color: #fff !important;
}